#infiniteBG {    
  width: 100%;
  height: 80px;
  background-image: url("https://niauwu.github.com/img/infiniteBackground.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-x;

  -webkit-animation: bgMove 10s linear infinite;
  -moz-animation: bgMove 10s linear infinite;
  -ms-animation: bgMove 10s linear infinite;
  -o-animation: bgMove 10s linear infinite;
  animation: bgMove 10s linear infinite;  
}

@-webkit-keyframes bgMove {
    from {background-position:0% 0%;}
    to {background-position: 300px 0%;}
}
@-moz-keyframes bgMove {
    from {background-position:0% 0%;}
    to {background-position: 300px 0%;}
}
@-ms-keyframes bgMove {
    from {background-position:0% 0%;}
    to {background-position: 300px 0%;}
}
@keyframes bgMove {
    from {background-position:0% 0%;}
    to {background-position: 300px 0%;}
}